@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

body {
    font: 11px/1.4em;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat';
}

#container1 {
    background-color: initial;
    background-size: 650px 750px;
    background-repeat: no-repeat;
    background-position: center;
}

.centered-form {
    margin-top: 50px;
    margin-bottom: 80px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 9px;
}

footer {
    text-align: center;
    color: rgba(128, 128, 128, 0.705);
    font-size: 13px;
    margin-bottom: 10px;
    width: 100%;
}